# Importing Libraries

In [1]:
import os
import regex as re
import json
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
#Get current working directory
cwd = os.getcwd()
cwd

'/Users/andreaslukita7/Data/Business Administration/Y3S1/BT4222/Project/Analysis'

In [3]:
# ddir = r'/Users/lienahtan/Library/CloudStorage/OneDrive-NationalUniversityofSingapore/School/Y3S1/BT4222/Project/Text' #working dir
ddir = cwd + r'/Reddit Dataset'
filename = f'{ddir}/META_final.txt'

In [4]:
f = open(filename, "r")
df = pd.read_json(f, lines=True)

In [5]:
df.shape

(1, 21371)

In [7]:
#Transposed dataframe 
df = df.T

In [8]:
df.head()

                                                   0
0  {'Subreddit': 'stocks', 'Post URL': 'https://w...
1  {'Subreddit': 'stocks', 'Post URL': 'https://w...
2  {'Subreddit': 'stocks', 'Post URL': 'https://w...
3  {'Subreddit': 'stocks', 'Post URL': 'https://w...
4  {'Subreddit': 'stocks', 'Post URL': 'https://w...

In [9]:
#Create empty dataframe
df_apple = pd.DataFrame(columns=['Post URL', 'Date Created', 'Title', 'Self Text', 'Score', 'Upvote Ratio', 'Total Comments', 'Comments'])
df_apple

Empty DataFrame
Columns: [Post URL, Date Created, Title, Self Text, Score, Upvote Ratio, Total Comments, Comments]
Index: []

In [10]:
for i in range(len(df)):
    df_apple = df_apple.append(df.iloc[i][0], ignore_index=True)

In [11]:
df_apple.head()

,Post URL,Date Created,Title,Self Text,Score,Upvote Ratio,Total Comments,Comments,Subreddit
0,https://www.reddit.com/r/stocks/comments/xsw3p...,1664604155000,Question on what to do with both TQQQ and SQQQ?,I might be the first person to ever hold both ...,1,1.0,0,[“Last week when the market was just beginning...,stocks
1,https://www.reddit.com/r/stocks/comments/xsken...,1664564716000,Facebook scrambles to escape stock’s death spi...,"A year ago, before Facebook had turned [Meta](...",1,1.0,0,[How come articles like this talk about the iO...,stocks
2,https://www.reddit.com/r/stocks/comments/xs85c...,1664532449000,Some folks on here can not see the forest for ...,Late last year the members of the Fed sold all...,1,1.0,0,[ >and are dollar cost averaging into etfs gre...,stocks
3,https://www.reddit.com/r/stocks/comments/xrn18...,1664467657000,FCF Yield of Stocks I am Watching,I recently compiled a list of stocks with thei...,1,1.0,0,[],stocks
4,https://www.reddit.com/r/stocks/comments/xrfmx...,1664448274000,"Meta Announces Hiring Freeze, Warns Employees ...","Meta Platforms Inc., the owner of Facebook and...",1,1.0,0,[3/95 (3%) reduction in expense is not enough ...,stocks

In [12]:
df_apple.shape

(21371, 9)

In [13]:
df_apple["company_name"] = "META"

In [14]:
#Method to convert epoch time to human readable time
def to_date(x):
    date_time = str(x)
    date_time = int(date_time[:-3])
    date_time = datetime.fromtimestamp(date_time)
    return date_time.date()

def to_time(x):
    date_time = str(x)
    date_time = int(date_time[:-3])
    date_time = datetime.fromtimestamp(date_time)
    return date_time.time()

In [15]:
df_apple['Date'] = df_apple['Date Created'].apply(to_date)
df_apple['Time'] = df_apple['Date Created'].apply(to_time)

In [16]:
df_apple = df_apple.drop(['Date Created', 'Post URL'], axis=1)

In [17]:
#replace non-word character (e.g. space) by '_' in variable names
df_apple.rename(columns=lambda x: re.sub('\W', '_', x.lower()), inplace=True)

In [18]:
ordered_columns = ['company_name', 'date', 'time', 'title', 'self_text', 'score', 'total_comments', 'comments']
df_apple = df_apple[ordered_columns]

In [19]:
df_apple.head()

,company_name,date,time,title,self_text,score,total_comments,comments
0,META,2022-10-01,14:02:35,Question on what to do with both TQQQ and SQQQ?,I might be the first person to ever hold both ...,1,0,[“Last week when the market was just beginning...
1,META,2022-10-01,03:05:16,Facebook scrambles to escape stock’s death spi...,"A year ago, before Facebook had turned [Meta](...",1,0,[How come articles like this talk about the iO...
2,META,2022-09-30,18:07:29,Some folks on here can not see the forest for ...,Late last year the members of the Fed sold all...,1,0,[ >and are dollar cost averaging into etfs gre...
3,META,2022-09-30,00:07:37,FCF Yield of Stocks I am Watching,I recently compiled a list of stocks with thei...,1,0,[]
4,META,2022-09-29,18:44:34,"Meta Announces Hiring Freeze, Warns Employees ...","Meta Platforms Inc., the owner of Facebook and...",1,0,[3/95 (3%) reduction in expense is not enough ...

In [20]:
df_apple["company_name"].value_counts()

META    21371
Name: company_name, dtype: int64

In [21]:
df_apple["company_name"].isnull().sum()

0

In [22]:
#Export the respective dataframe to csv for future work
df_apple.to_csv("METAReddit.csv", index=False)