In [1]:
import pandas as pd
import numpy as np

In [2]:
#reads in the data (Please adjust the directory accordingly)
amazon_df = pd.read_csv("./model/amazon_combined_latest.csv")
apple_df = pd.read_csv("./model/apple_combined_latest.csv")
google_df = pd.read_csv("./model/google_combined_latest.csv")
meta_df = pd.read_csv("./model/META_combined_latest.csv")
msft_df = pd.read_csv("./model/microsoft_combined_latest.csv")
nvidia_df = pd.read_csv("./model/nvidia_combined_latest.csv")
samsung_df = pd.read_csv("./model/samsung_combined_latest.csv")
tencent_df = pd.read_csv("./model/tencent_combined_latest.csv")
tesla_df = pd.read_csv("./model/tesla_combined_latest.csv")
tsmc_df = pd.read_csv("./model/tsmc_combined_latest.csv")

In [3]:
def _produce_prediction(data, window,split_on_date):
    """
    Function that produces the 'truth' values
    At a given row, it looks 'window' rows ahead to see if the price increased (1) or decreased (0)
    :param window: number of days, or rows to look ahead to see what the price did
    """

    prediction = (data.shift(-window)['fin_close'] >= data['fin_close'])
    prediction = prediction.iloc[:-window]
    data['target'] = prediction.astype(int)
    del (data['fin_close'])
    data = data.dropna()
    data["date"] = data["date"].astype(str)
    data_test = data.loc[(data['date'] >= split_on_date)].copy()
    data_train = data.loc[(data['date'] < split_on_date)].copy()
    data_test['date'] = data_test['date'].apply(lambda x: str(x))
    data_train['date'] = data_train['date'].apply(lambda x: str(x))
    
    return data_test,data_train

In [4]:
from pycaret.classification import *

In [5]:
#Amazon, With Sentiment
amazon_df_test,amazon_df_train  = _produce_prediction(amazon_df, window=1,split_on_date='2021-06-01')


amazon_model = setup(data = amazon_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.6,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

IntProgress(value=0, description='Processing: ', max=7)

Initiated  . . . . . . . . . . . . . . . . . .                   21:08:48
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .        Logistic Regression

Empty DataFrame
Columns: [Fold, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

In [ ]:
list(amazon_df_train.dtypes)

[dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64')]

In [ ]:
amazon_df_predictions = predict_model(final_model, data=amazon_df_test)

In [ ]:
print(amazon_df_predictions["Label"].value_counts())
print(amazon_df_predictions["target"].value_counts())

1.0    396
0.0     60
Name: Label, dtype: int64
1.0    296
0.0    160
Name: target, dtype: int64

In [ ]:
#Apple, No Sentiment
apple_df_extract = apple_df[[
                        'date',
                        'is_trading_day',
                        'year',
                        'month',
                        'day_of_week',
                        'quarter',
                        'fin_volume',
                        'fin_revenue',
                        'fin_eps',
                        'fin_pe_ratio',
                        'fin_open',
                        'fin_high',
                        'fin_low',
                        'fin_close',
                        'fin_heikin_trend_uptrend',
                        ]].copy()

#train test split
apple_df_test,apple_df_train  = _produce_prediction(apple_df_extract, window=1,split_on_date='2021-06-01')

#Setup Process
apple_model = setup(data = apple_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                #    'twitter_polarity_vader_compound', 
                #    'news_title_finbert_argmax',
                #    'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.5
                   ,
                   fold_strategy='timeseries',   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
apple_df_predictions = predict_model(final_model, data=apple_df_test)

In [ ]:
print(apple_df_predictions["Label"].value_counts())
print(apple_df_predictions["target"].value_counts())

1.0    365
0.0     91
Name: Label, dtype: int64
1.0    307
0.0    149
Name: target, dtype: int64

In [ ]:
#Google, With Sentiment
google_df_test,google_df_train  = _produce_prediction(google_df, window=1,split_on_date='2021-06-01')


google_model = setup(data = google_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.9,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
google_model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
google_df_predictions = predict_model(final_model, data=google_df_test)

In [ ]:
print(google_df_predictions["Label"].value_counts())
print(google_df_predictions["target"].value_counts())

1.0    424
0.0     32
Name: Label, dtype: int64
1.0    306
0.0    150
Name: target, dtype: int64

In [ ]:
#META, With Sentiment
meta_df_test,meta_df_train  = _produce_prediction(meta_df, window=1,split_on_date='2021-06-01')


meta_model = setup(data = meta_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.8,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
meta_model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
meta_df_predictions = predict_model(final_model, data=meta_df_test)

In [ ]:
print(meta_df_predictions["Label"].value_counts())
print(meta_df_predictions["target"].value_counts())

1.0    385
0.0     71
Name: Label, dtype: int64
1.0    295
0.0    161
Name: target, dtype: int64

In [ ]:
#Microsoft, With Sentiment
msft_df_test,msft_df_train  = _produce_prediction(msft_df, window=1,split_on_date='2021-06-01')


msft_model = setup(data = msft_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.3,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
msft_df_predictions = predict_model(final_model, data=msft_df_test)

In [ ]:
print(msft_df_predictions["Label"].value_counts())
print(msft_df_predictions["target"].value_counts())

1.0    411
0.0     45
Name: Label, dtype: int64
1.0    298
0.0    158
Name: target, dtype: int64

In [ ]:
#Nvidia, With Sentiment
nvidia_df_test,nvidia_df_train  = _produce_prediction(nvidia_df, window=1,split_on_date='2021-06-01')


nvidia_model = setup(data = nvidia_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.4,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
nvidia_df_predictions = predict_model(final_model, data=nvidia_df_test)

In [ ]:
print(nvidia_df_predictions["Label"].value_counts())
print(nvidia_df_predictions["target"].value_counts())

1.0    445
0.0     11
Name: Label, dtype: int64
1.0    301
0.0    155
Name: target, dtype: int64

In [ ]:
#Samsung, With Sentiment
samsung_df_test,samsung_df_train  = _produce_prediction(samsung_df, window=1,split_on_date='2021-06-01')


samsung_model = setup(data = samsung_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.5,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
samsung_df_predictions = predict_model(final_model, data=samsung_df_test)

In [ ]:
print(samsung_df_predictions["Label"].value_counts())
print(samsung_df_predictions["target"].value_counts())

1.0    280
0.0    152
Name: Label, dtype: int64
1.0    230
0.0    202
Name: target, dtype: int64

In [ ]:
#Tencent, No Sentiment
tencent_df_extract = tencent_df[[
                        'date',
                        'is_trading_day',
                        'year',
                        'month',
                        'day_of_week',
                        'quarter',
                        'fin_volume',
                        'fin_revenue',
                        'fin_eps',
                        'fin_pe_ratio',
                        'fin_open',
                        'fin_high',
                        'fin_low',
                        'fin_close',
                        'fin_heikin_trend_uptrend',
                        ]].copy()

#train test split
tencent_df_test,tencent_df_train  = _produce_prediction(tencent_df_extract, window=1,split_on_date='2021-06-01')

tencent_model = setup(data = tencent_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.5
                   ,
                   fold_strategy='timeseries',   
                   use_gpu=True)

#Creates Model
model = create_model('rf', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model = finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
tencent_df_predictions = predict_model(final_model, data=tencent_df_test)

In [ ]:
tencent_df_predictions["Label"].value_counts()
tencent_df_predictions["target"].value_counts()

1.0    217
0.0    215
Name: target, dtype: int64

In [ ]:
#Tesla, No Sentiment
tesla_df_extract = tesla_df[[
                        'date',
                        'is_trading_day',
                        'year',
                        'month',
                        'day_of_week',
                        'quarter',
                        'fin_volume',
                        'fin_revenue',
                        'fin_eps',
                        'fin_pe_ratio',
                        'fin_open',
                        'fin_high',
                        'fin_low',
                        'fin_close',
                        'fin_heikin_trend_uptrend',
                        ]].copy()

#train test split
tesla_df_test,tesla_df_train  = _produce_prediction(tesla_df_extract, window=1,split_on_date='2021-06-01')

tesla_model = setup(data = tesla_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.4
                   ,
                   fold_strategy='timeseries',   
                   use_gpu=True)

#Creates Model
model = create_model('lightgbm', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7

In [ ]:
tesla_df_predictions = predict_model(final_model, data=tesla_df_test)

In [ ]:
print(tesla_df_predictions["Label"].value_counts())
print(tesla_df_predictions["target"].value_counts())

1.0    411
0.0     21
Name: Label, dtype: int64
1.0    283
0.0    149
Name: target, dtype: int64

In [ ]:
#TSMC, With Sentiment
tsmc_df_test,tsmc_df_train  = _produce_prediction(tsmc_df, window=1,split_on_date='2021-06-01')


tsmc_model = setup(data = tsmc_df_train, 
                   target = 'target', 
                   session_id=123,
                   normalize = True,
                   numeric_features=[
                   'twitter_polarity_vader_compound', 
                   'news_title_finbert_argmax',
                   'news_text_finbert_argmax',
                   'fin_revenue'
                   ],
                   ignore_features = ['date'],
                   feature_selection=True,
                   feature_selection_threshold= 0.1,
                   fold_strategy='timeseries',                   
                   use_gpu=True)

#Creates Model
model = create_model('lr', fold = 10)
tuned_model = tune_model(model, optimize = 'Accuracy')
evaluate_model(tuned_model)
predict_model(tuned_model)
final_model= finalize_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
tsmc_df_predictions = predict_model(final_model, data=tsmc_df_test)

In [ ]:
print(tsmc_df_predictions["Label"].value_counts())
print(tsmc_df_predictions["target"].value_counts())

1.0    406
0.0     50
Name: Label, dtype: int64
1.0    295
0.0    161
Name: target, dtype: int64

In [ ]:
print(amazon_df_predictions.shape)
print(apple_df_predictions.shape)
print(google_df_predictions.shape)
print(meta_df_predictions.shape)
print(msft_df_predictions.shape)
print(nvidia_df_predictions.shape)
print(samsung_df_predictions.shape)
print(tencent_df_predictions.shape)
print(tesla_df_predictions.shape)
print(tsmc_df_predictions.shape)

(456, 40)
(456, 17)
(456, 40)
(456, 40)
(456, 40)
(456, 40)
(432, 40)
(432, 17)
(432, 17)
(456, 40)

In [ ]:
amazon_df_predictions.rename({'Label': 'pred_amazon'}, axis=1, inplace=True)
apple_df_predictions.rename({'Label': 'pred_apple'}, axis=1, inplace=True)
google_df_predictions.rename({'Label': 'pred_google'}, axis=1, inplace=True)
meta_df_predictions.rename({'Label': 'pred_meta'}, axis=1, inplace=True)
msft_df_predictions.rename({'Label': 'pred_msft'}, axis=1, inplace=True)
nvidia_df_predictions.rename({'Label': 'pred_nvidia'}, axis=1, inplace=True)
samsung_df_predictions.rename({'Label': 'pred_samsung'}, axis=1, inplace=True)
tencent_df_predictions.rename({'Label': 'pred_tencent'}, axis=1, inplace=True)
tesla_df_predictions.rename({'Label': 'pred_tesla'}, axis=1, inplace=True)
tsmc_df_predictions.rename({'Label': 'pred_tsmc'}, axis=1, inplace=True)

In [ ]:
snp_df = amazon_df_predictions[["date","pred_amazon"]].merge(
                                apple_df_predictions[["date","pred_apple"]],how='left', left_on='date',right_on='date',).merge(
                                google_df_predictions[["date","pred_google"]],how='left', left_on='date',right_on='date').merge(
                                meta_df_predictions[["date","pred_meta"]],how='left', left_on='date',right_on='date').merge(
                                msft_df_predictions[["date","pred_msft"]],how='left', left_on='date',right_on='date').merge(
                                nvidia_df_predictions[["date","pred_nvidia"]],how='left', left_on='date',right_on='date').merge(
                                samsung_df_predictions[["date","pred_samsung"]],how='left', left_on='date',right_on='date').merge(
                                tencent_df_predictions[["date","pred_tencent"]],how='left', left_on='date',right_on='date').merge(
                                tesla_df_predictions[["date","pred_tesla"]],how='left', left_on='date',right_on='date').merge(
                                tsmc_df_predictions[["date","pred_tsmc"]],how='left', left_on='date',right_on='date')

In [ ]:
snp_df.to_csv('spy_predict.csv', index=False)